aside
  #about
    a(href=config.root)#logo
      img(src= asideLogo, alt= "Logo")
    //- h1#Dr
    //-   a(href= theme.aside.dr)= config.author
    //- #description
    //-   p!= config.description
    if theme.social
      #social-links
        each value, name in theme.social
          a.social(href= value.split('||')[0].trim())
            i(alt=name,class=value.split('||')[1].trim())
  #aside-block
    block aside-block
    if page.title === undefined
      section#total
        a#total-archives(href= url_for("archives"))
          span.total-title #{__('menu.archive.plural')} #{__('menu.total')}:
          span.total-number= site.posts.length
        #total-tags
          span.total-title #{__('menu.tag.plural')}:
          span.total-number= site.tags.length
        #total-categories
          span.total-title #{__('menu.category.plural')}:
          span.total-number= site.categories.length
  footer(style= footerStyle)
    if theme.aside.icp !== null
      nobr
        span.icp-title ICP
        a(href='https://beian.miit.gov.cn/').icp-content= theme.aside.icp
      br
    if theme.aside.copyright !== null
      each content, title in theme.aside.copyright
        nobr
          span.icp-title= title
          if typeof content === 'string'
            span.icp-content= content
          else
            each href, name in content
              a(href=href).icp-content= name
        br
    div#badges
      span(xmlns:cc="http://creativecommons.org/ns#" style="margin-right:4px")
        a(href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="padding:0")
          img(style="height:20px!important; margin-bottom:-1px; aspect-ratio:1" src="/images/cc.svg" alt="知识共享许可协议")
          img(style="height:20px!important; margin-bottom:-1px; aspect-ratio:1" src="/images/by.svg" alt="署名")
          img(style="height:20px!important; margin-bottom:-1px; aspect-ratio:1" src="/images/sa.svg" alt="相同方式共享")
      wbr
      span(style="margin-right:4px; margin-bottom:1px")
        a(href="https://www.travellings.cn/go.html" title="开往下一个世界：随机跳转到一个新的网站" style="padding:0")
          img(src="https://www.travellings.cn/assets/w.png" style="height:18px; aspect-ratio:4/1"  alt="开往下一个世界：随机跳转到一个新的网站")
      wbr
      span(style="margin-right:4px; margin-bottom:1px")
        a(href="https://notbyai.fyi/" title="Not by AI" style="padding:0")
          img(src="/images/not-by-ai.svg" style="height:18px; aspect-ratio:131/42" alt="Not by AI")
      wbr
      span(style="margin-right:4px; margin-bottom:1px")
        a(href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" title="又拍云" style="padding:0")
          img(src="/images/upyun.svg" style="height:18px;aspect-ratio:5" alt="又拍云")
    div
      span(style="display:inline-block") 版权与致谢详见
        a(href="/about") 关于页
      |&nbsp;
      wbr
      span(style="display:inline-block")
        span(id="timeDate") 载入运行时间……
        span(id="times") 
      |&nbsp;
      wbr
    if theme.busuanzi.enable
      span 共 
      span(id="busuanzi_container_site_uv")
        span(id="busuanzi_value_site_uv") 很多
        span 人 
      span(id="busuanzi_container_site_pv")
        span(id="busuanzi_value_site_pv") 很多
        span 次访问
      |&nbsp;
      wbr
    //- nobr #{__('footer.publish')} 
    span(style="display:inline-box; margin-left:-3px")
      a(href= 'http://hexo.io') Hexo
    wbr
    nobr  #{__('footer.theme')} 
      a(href='https://github.com/angine04/hexo-theme-unterwasser') Unterwasser
    //- wbr
    //- nobr  #{__('footer.by')} 
    //-   a(href= 'https://github.com/Yue-plus') Yue_plus&nbsp;
    |&nbsp;
    wbr 
    span(style="display:inline-block") 
      a(href="https://beian.miit.gov.cn/" title="ICP备案" style="padding:0") 陕ICP备2024028520号
    |&nbsp;
    wbr
    nobr
      span(style="display:inline-block") 2023 Angine 版权所有
