aside
  #about
    a(href=config.root)#logo
      img(src= asideLogo, alt= "Logo")
    h1#Dr
      a(href= theme.aside.dr)= config.author
    #description
      p!= config.description
    if theme.social
      #social-links
        each value, name in theme.social
          a.social(href= value.split('||')[0].trim())
            i(alt=name,class=value.split('||')[1].trim())
  #aside-block
    block aside-block
    if page.published === undefined
      section#total
        a#total-archives(href= url_for("archives"))
          span.total-title #{__('menu.archive.plural')} #{__('menu.total')}:
          span.total-number= site.posts.length
        #total-tags
          span.total-title #{__('menu.tag.plural')}:
          span.total-number= site.tags.length
        #total-categories
          span.total-title #{__('menu.category.plural')}:
          span.total-number= site.categories.length
  footer(style= footerStyle)
    if theme.aside.icp !== null
      nobr
        span.icp-title ICP
        a(href='https://beian.miit.gov.cn/').icp-content= theme.aside.icp
      br
    if theme.aside.copyright !== null
      each content, title in theme.aside.copyright
        nobr
          span.icp-title= title
          span.icp-content= content
        br
    <div id="creative-commons" style="margin-top: 64px"><span><a id="creative-commons-img" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />如无说明，本站<b>所有原创文章</b>均采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a>许可。<br />转载请注明原作者为<b>安擎Angine</b>，并附上<b>本页链接。</b></span></div>
    br
    span(id="timeDate") 载入运行时长……
    span(id="times") 
    span 总计获 
    span(id="busuanzi_container_site_uv")
      span(id="busuanzi_value_site_uv")
      span 人 
    span(id="busuanzi_container_site_pv")
      span(id="busuanzi_value_site_pv")
      span 次访问
    br
    br
    // nobr #{__('footer.publish')} 
    nobr 由
      a(href= 'http://hexo.io') Hexo
      span 强力驱动
    wbr
    nobr  #{__('footer.theme')} 
      a(href= 'https://github.com/Yue-plus/hexo-theme-arknights') Arknights
    wbr
    nobr  #{__('footer.by')} 
      a(href= 'https://github.com/Yue-plus') Yue_plus
    br
    br
    nobr <span>©2023 Angine</span>
