aside
  #about
    a(href=config.root)#logo
      img(src= asideLogo, alt= "Logo")
    h1#Dr
      a(href= theme.aside.dr)= config.author
    #description
      p!= config.description
    if theme.social
      #social-links
        each value, name in theme.social
          a.social(href= value.split('||')[0].trim())
            i(alt=name,class=value.split('||')[1].trim())
  #aside-block
    block aside-block
    if page.title === undefined
      section#total
        a#total-archives(href= url_for("archives"))
          span.total-title #{__('menu.archive.plural')} #{__('menu.total')}:
          span.total-number= site.posts.length
        #total-tags
          span.total-title #{__('menu.tag.plural')}:
          span.total-number= site.tags.length
        #total-categories
          span.total-title #{__('menu.category.plural')}:
          span.total-number= site.categories.length
  footer(style= footerStyle)
    if theme.aside.icp !== null
      nobr
        span.icp-title ICP
        a(href='https://beian.miit.gov.cn/').icp-content= theme.aside.icp
      br
    if theme.aside.copyright !== null
      each content, title in theme.aside.copyright
        nobr
          span.icp-title= title
          if typeof content === 'string'
            span.icp-content= content
          else
            each href, name in content
              a(href=href).icp-content= name
        br
    div#badges
      span(xmlns:cc="http://creativecommons.org/ns#")
        a(href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="padding:0")
          img(style="height:1.2rem!important; margin-bottom:-0.1rem" src="/images/cc.svg")
          img(style="height:1.2rem!important; margin-bottom:-0.1rem" src="/images/by.svg")
          img(style="height:1.2rem!important; margin-bottom:-0.1rem" src="/images/sa.svg")
      wbr
      span(style="margin-left:4px; margin-bottom:0.1rem")
        a(href="https://www.travellings.cn/go.html" title="开往下一个世界：随机跳转到一个新的网站" style="padding:0")
          img(src="https://www.travellings.cn/assets/w.png" style="height:1rem")
      wbr
      span(style="margin-left:4px")
        a(href="https://notbyai.fyi/" title="Not by AI" style="padding:0")
          img(src="/images/not-by-ai.svg" style="height:1rem;")
    div
      span 版权与致谢详见
        a(href="/about") 关于页
      |。
    if theme.busuanzi.enable
      span(id="timeDate") 运行一年以来
      span(id="times") 
      br
      span 共 
      span(id="busuanzi_container_site_uv")
        span(id="busuanzi_value_site_uv") 很多
        span 人 
      span(id="busuanzi_container_site_pv")
        span(id="busuanzi_value_site_pv") 很多
        span 次访问
      br
    //- nobr #{__('footer.publish')} 
    span(style="margin-left:-3px")
      a(href= 'http://hexo.io') Hexo
    wbr
    nobr  #{__('footer.theme')} 
      a(href= 'https://github.com/Yue-plus/hexo-theme-arknights') Arknights
    //- wbr
    //- nobr  #{__('footer.by')} 
    //-   a(href= 'https://github.com/Yue-plus') Yue_plus&nbsp;
    br
    nobr
      span ©2023 Angine
