aside
  #about
    a(href=config.root)#logo
      img(src= asideLogo, alt= "Logo")
    h1#Dr
      a(href= theme.aside.dr)= config.author
    #description
      p!= config.description
    if theme.social
      #social-links
        each value, name in theme.social
          a.social(href= value.split('||')[0].trim())
            i(alt=name,class=value.split('||')[1].trim())
  #aside-block
    block aside-block
    if page.published === undefined
      section#total
        a#total-archives(href= url_for("archives"))
          span.total-title #{__('menu.archive.plural')} #{__('menu.total')}:
          span.total-number= site.posts.length
        #total-tags
          span.total-title #{__('menu.tag.plural')}:
          span.total-number= site.tags.length
        #total-categories
          span.total-title #{__('menu.category.plural')}:
          span.total-number= site.categories.length
  footer(style= footerStyle)
    if theme.aside.icp !== null
      nobr
        span.icp-title ICP
        a(href='https://beian.miit.gov.cn/').icp-content= theme.aside.icp
      br
    if theme.aside.copyright !== null
      each content, title in theme.aside.copyright
        nobr
          span.icp-title= title
          span.icp-content= content
        br
    div(id="creative-commons" style="margin-top: 64px")
      span(xmlns:cc="http://creativecommons.org/ns#")
        img(style="height:22px!important" src="https://cc-vocabulary.netlify.app/license_badges/small/by_sa.svg")
        br
        |除非另有说明，本站内容采用
        a(href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer") 知识共享署名-相同方式共享 4.0 国际许可协议
        |。
        br
        |如转载，请注明原作者为<b>安擎Angine</b>，并附上<b>本页链接</b>。
    br
    div
      a(href="https://www.travellings.cn/go.html" title="开往下一个世界：随机跳转到一个新的网站" style="padding:0")
        img(src="https://www.travellings.cn/assets/w.png" height="28px")
    br
    span(id="timeDate") 载入运行时长……
    span(id="times") 
    span 总计获 
    span(id="busuanzi_container_site_uv")
      span(id="busuanzi_value_site_uv") 很多
      span 人 
    span(id="busuanzi_container_site_pv")
      span(id="busuanzi_value_site_pv") 很多
      span 次访问
    br
    br
    // nobr #{__('footer.publish')} 
    nobr 由
      a(href= 'http://hexo.io') Hexo
      span 强力驱动
    wbr
    nobr  #{__('footer.theme')} 
      a(href= 'https://github.com/Yue-plus/hexo-theme-arknights') Arknights 
    wbr
    nobr  #{__('footer.by')} 
      a(href= 'https://github.com/Yue-plus') Yue_plus
    br
    br
    nobr <span>©2023 Angine</span>
