meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title= pageTitle

link(
  rel="icon"
  type=(theme.favicon.type ? theme.favicon.type : "image/x-icon")
  href=(url_for(theme.favicon.href ? theme.favicon.href : "favicon.ico"))
)
link(href="https://fonts.googleapis.cn/css?family=Noto+Sans" rel="preload" as="style")
link(href="https://fonts.googleapis.cn/css?family=Noto+Sans+SC" rel="preload" as="style")
link(href="https://fonts.googleapis.cn/css?family=Noto+Sans+JP" rel="preload" as="style")
//- link(href="https://fonts.googleapis.cn/icon?family=Material+Icons" rel="preload" as="style")
//- link(href="https://fonts.googleapis.cn/icon?family=Material+Icons" rel="stylesheet")
link(href="https://fonts.googleapis.cn/css?family=Fira+Code" rel="preload" as="style")
link(rel="preload", as="font", crossorigin="anonymous", href=url_for("font/Bender.woff2"))
link(rel="preload", as="font", crossorigin="anonymous", href=url_for("font/BenderLight.woff2"))
if page.angine_sans
  style
    |@font-face{
    |  font-family: 'Angine Sans';
    |  src: local('Angine Sans'), url("/font/AngineSans.woff2");
    |  font-display: swap
    |}
    |.angine-sans{
    |  font-family: 'Angine Sans', 'Noto Sans', 'San Francisco', 'Arial', 'Helvetica', 'Droid Sans', 'Noto Sans SC', 'PingFang SC', 'Noto Sans JP', 'Microsoft Yahei', 'sans-serif' !important;
    |}
link(rel="stylesheet", href=url_for("css/arknights.css"))
style.
  @font-face {
    font-family: Bender;
    src: local('Bender'), url("#{config.root}font/Bender.woff2");
    font-display: swap;
  }
  @font-face {
    font-family: BenderLight;
    src: local('BenderLight'), url("#{config.root}font/BenderLight.woff2");
    font-display: swap;
  }

script var config = !{configs}
if theme.waline && theme.waline.enable === true && page.comments
  link(rel="stylesheet", href= url_for('https://s4.zstatic.net/npm/@waline/client@v2/dist/waline.css'))
//- link(type="text/css" rel="stylesheet" href=url_for("/lib/encrypt/hbe.style.css"))
if page.images
  link(type="text/css" rel="stylesheet" href="https://s4.zstatic.net/npm/lightgallery@2.7.1/css/lightgallery.css")
  link(type="text/css" rel="stylesheet" href="https://s4.zstatic.net/npm/lightgallery@2.7.1/css/lg-zoom.css")
  link(type="text/css" rel="stylesheet" href="https://s4.zstatic.net/npm/lightgallery@2.7.1/css/lg-thumbnail.css")
//- link(type="text/css" rel="stylesheet" href=url_for("/lib/fontawesome/css/all.min.css"))
if page.code
  link(href="https://s4.zstatic.net/npm/@highlightjs/cdn-assets@11.6.0/styles/atom-one-dark-reasonable.min.css" rel="preload" as="style")

if theme.stylesheets && theme.stylesheets.length > 0
  //- stylesheets list from _config.yml
  each url in theme.stylesheets
    link(rel='stylesheet', href=url)
script
  |if (window.localStorage.getItem('theme-mode') === 'light'
  if theme.color === 'auto'
    |  || window.matchMedia('(prefers-color-scheme:light)').matches
  |)
  |  document.documentElement.setAttribute('theme-mode', 'light')
  |if (window.localStorage.getItem('theme-mode') === 'dark'
  if theme.color === 'auto'
    |  || window.matchMedia('(prefers-color-scheme:dark)').matches
  |)
  |  document.documentElement.setAttribute('theme-mode', 'dark')

include ./generate-css.pug
include ./js-data.pug
